<div class="main-container">
    <div class="login-container"> 
        <h2 id="titleh2">Login</h2>
        <form id="form" action="/login" method="POST">
            <label for="username">Username</label>  <!-- Changed from Email -->
            <input type="text" id="username" name="username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        

    </div>

